#seccion-titulo-carrito {
    text-align: center;
    background-image: url("../imagenes/Fondos/fondo_bienvenida.webp");
    background-size: cover;
}

#seccion-titulo-carrito h1 {
    padding: 50px 0px;
}

.plantilla-pedido:hover {
    box-shadow: var(--box-shadow-after);
}

.contenido-producto img {
    width: 170px;
    height: 150px;
}

.cantidad-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; /* Ajustar altura automáticamente */
}

.botones-pedido button {
    background-color: var(--primary-color-1);
}

@media (min-width: 758.58px) {
    .botones-pedido.izquierda {
        display: none; 
    }

    .botones-pedido.derecha {
        display: flex; 
        justify-content: flex-end;
    }
}

.contenido-producto {
    gap: 35px !important;
}

@media (max-width: 758.57px) {
    .botones-pedido.izquierda {
        display: flex; 
        justify-content: left; 
    }

    .botones-pedido.derecha {
        display: none;
    }

}

#seccion-productos-carrito {
    height: auto; /* Ajustar altura automáticamente */
}

#total-precio-productos {
    height: auto; /* Ajustar altura automáticamente */
}

.tramitar-pedido {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Cuando el carrito esta vacio */

.fondo-carrito {
    height: 505px;
}