/* Responsive */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container .login {
        width: 100% ;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container .login {
        width: 100% !important;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container .login {
        width: 100% !important;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container .login {
        width: 100% !important;
    }
}


#fondo-login {
    display: flex;
    justify-content: center;
}

.titulo-login {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin-bottom: 10px;
}

#redireccion-register {
    display: flex;
    column-gap: 5px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.centrado-izquierda {
    width: 40px;
    justify-content: flex-start;
}

form input {
    height: 55px;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--neutral-color-16);
}
