#seccion-login {
    background-color: var(--neutral-color-2);
}

.contenido-login{
    width: 320px;
    gap: 0.5rem;
}
.titulo-login {
    font-size: 30px;
    margin: 0px;
}

.flex {
    display: flex;
    column-gap: 8px;
}

.form-control:focus {
    border-color: var(--primary-color-1) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem rgba(255, 190, 60, .45) !important;
}