#seccion-sobre-nosotros {
    width: 100vw;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    background: linear-gradient(to bottom, #f8b862, #ffffff);
    height: 233px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenido-sobre-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}