.fondo {
    background-image: url("../imagenes/Fondos/sobreNosotros-Contacto.webp");
}

.banner-style {
    background-image: linear-gradient(to bottom, rgba(253, 253, 252, 0), #fdfdfc 100%) !important;
}

.altura-banner {
    height: 304px;
}

.ajustar-logo-banner {
    left: -7px;
    top: 165px;
}

#seccion-sobre-nosotros {
    position: relative;
    background-image: url("../imagenes/Fondos/sobreNosotros-Contacto.webp");
    height: 233px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenido-sobre-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0; /* Margen vertical para separar el contenido */
}

.padding-personalizado {
    padding: 0px 120px 47.55px !important;
}

.sobreNosotros-padding-h1 {
    padding: 16px 0px !important;
    margin-bottom: 20px; /* Margen inferior para separación */
}

.sobreNosotros-padding-migas {
    padding: 16px 0px;
    padding-left: 7px;
}

.sobreNosotros-imagen {
    width: 100%; /* Mantener la imagen al 100% del ancho sin márgenes */
}

.descripcion {
    font-size: 30px;
    color: var(--neutral-color-3);
    line-height: 35px;
    margin-bottom: 20px; /* Margen inferior para separación */
}

/* Espaciado para encabezados y párrafos */
h2 {
    margin-top: 20px; /* Margen superior para separación */
    margin-bottom: 10px; /* Margen inferior para separación */
}

p {
    margin-bottom: 20px; /* Margen inferior para separación */
}
