.fondo {
    background-image: url("../imagenes/Fondos/sobreNosotros-Contacto.webp");
}
#seccion-sobre-nosotros {
    position: relative;
    background-image: url("../imagenes/Fondos/sobreNosotros-Contacto.webp");
    height: 233px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenido-sobre-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descripcion {
    font-size: 30px;
}