<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Archivos/CSS/General.css">
    <title>Contacto</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div id="Logo" aria-label="Logo del sitio">
            <img src="/Imagenes/Logo/Logo vertical color.png" href="./Inicio.html" alt="Logo color">
        </div>
        <nav id="seccion-menu">
            <a href="./Menu.html" class="apartado-menu">Menu</a>
            <a href="./Sobre nosotros.html" class="apartado-sobreNosotros">Sobre nosotros</a>
            <a href="" class="apartado-contacto">Contacto</a>
            <a href="./Iniciar sesion.html" class="primaryButton-yellow-1">Iniciar sesión</a>
        </nav>
    </header>
    <h1>Contacto:</h1>
    <!-- Seccion: Footer -->
    <footer>
        <div class="contenido-footer">
            <div class="primera-seccion">
                <img src="/Imagenes/Logo/Logo vertical blanco.png" alt="">
                <div class="redes-sociales">
                    <img src="/Imagenes/Iconos/Property 1=X, isDark=True, Tamaño=24px.png" alt="">
                    <img src="/Imagenes/Iconos/Property 1=Instagram, isDark=True, Tamaño=24px.png" alt="">
                    <img src="/Imagenes/Iconos/Property 1=YouTube, isDark=True, Tamaño=24px.png" alt="">
                </div>
            </div>
            <div class="segunda-seccion">
                <p>© 2024 Coworking Space Restaurant. Todos los derechos reservados. Disfruta de un espacio único para trabajar y comer.</p>
            </div>
        </div>
    </footer>
</body>
</html>